{{ $data := index .Site.Data .Site.Language.Lang }}
{{ "<!-- project -->" | safeHTML }}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
               {{ with $data.project.title }} <h2 class="mb-2">{{ . }}</h2> {{ end }}
               {{ with $data.project.content }} <p class="mb-40">{{ . | safeHTML }}</p> {{ end }}
            </div>
            <div class="col-lg-12">
                <div class="project-menu text-center">
                    <ul class="controls list-inline">
                        {{ "<!-- filter item list -->" | safeHTML }}
                        <li class="list-inline-item control active" data-filter="all">All</li>
                        {{ range $data.project.filterList }}
                        <li class="list-inline-item control" data-filter="{{ .dataFilter }}">{{ .filterTitle }}</li> {{ end }}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row filtr-container">
            {{ range .Data.Pages }}
            {{ "<!-- project item -->" | safeHTML }}
            <div class="col-lg-3 col-md-4 col-sm-6 p-0 filtr-item" data-category="{{ .Params.FilterCategories }}">
                <div class="position-relative">
                    <img class="img-fluid w-100" src="{{ .Params.Image | absURL }}" alt="project-image">
                    <div class="project-info">
                        <a href="{{ .Permalink }}" class="h4">{{ .Title }}</a>
                        <p><i class="ti-tag"></i>{{ .Params.Tag }}</p>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ "<!-- /project -->" | safeHTML }}