{{ define "main" }}

{{ partial "pageTitle2.html" . }}
<!-- 
{{ partial "philosophy.html" . }}

{{ partial "ceo.html" . }} -->

<section class="section about">
    <div class="container">
        
        <div class="row">
            <div class="col-lg-12">
                {{.Content}}
            </div>

        </div>

        <div class="col-lg-12">
            <h1 class="display-4 font-3">Meet the Founder and Lead Statistician, ISCON Statistics</h1>
        </div>
        <div class="row about-cv">
            <div class="col-lg-4 d-flex">
                <aside class="p-3 text-white">
                    <img src="/images/chetan-big-white.jpg" class="rounded-circle img-fluid" alt="Chetan">
                   <h4 class="mt-4 text-center text-white">Education</h4> 
                   <ul class="p-0">
                       <li>
                        2018   MSC Statistics, University of Leicester UK
                       </li>
                       <li>
                        2014  Grad Cert Statistics, University of Sheffield UK
                       </li>
                       <li>
                        2012  PG Dip in Public Health, Oxford Brookes University 
                       </li>
                       <li>
                        2008  Bachelor of Dental Surgery, Gujarat University India
                       </li>
                   </ul>
                    <p></p>
                    
                                           
                    

                </aside>
                
            </div>
            
            <div class="col-lg-8 d-flex">
                <h1>Meet the Founder and Lead Statistician, ISCON Statistics</h1>
            </div>

        </div>
    </div>
</section>



{{ partial "testimonial.html" . }}


{{ partial "cta.html" . }}

{{ end }}