{{ define "main" }}

{{ partial "pageTitle3.html" . }}

{{ "<!-- team single -->" | safeHTML }}
<div class="section bg4">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title section-title-border mb-4">{{ .Params.section1.heading }}</h2>
                <p>
                    {{.Params.section1.text | safeHTML }}
                </p>
            </div>
        </div>
    </div>
</div>
{{ "<!-- team single -->" | safeHTML }}

{{ "<!-- team single -->" | safeHTML }}
<div class="section ">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">

                <p>
                    {{.Params.section2.text | safeHTML }}
                </p>
            </div>
        </div>
    </div>
</div>
{{ "<!-- team single -->" | safeHTML }}

{{ "<!-- team single -->" | safeHTML }}
<div class="section bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p class="text-white">
                    {{.Params.section3.text | safeHTML }}
                </p>
            </div>
        </div>
    </div>
</div>
{{ "<!-- team single -->" | safeHTML }}


{{ "<!-- team single -->" | safeHTML }}
<div class="section bg4">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p>
                    {{.Params.section4.text | safeHTML }}
                </p>
            </div>
        </div>
    </div>
</div>
{{ "<!-- team single -->" | safeHTML }}


{{ "<!-- team single -->" | safeHTML }}
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-2">
                <h2 class="section-title section-title-border mb-4">{{ .Title }}</h2>

            </div>
            {{ "<!-- sidebar -->" | safeHTML }}
            <aside class="col-lg-4">
                {{ "<!-- team member info -->" | safeHTML }}
                <div class="bg-gray rounded mb-50">
                    <img class="lazyload img-fluid w-100 rounded-top" data-src="{{ .Params.Image | absURL }}" alt="team member">
                    <div class="py-2 px-4 pb-3">
                        <div class="py-2 border-bottom">
                            <h2 class="d-inline-block  m-0">{{.Params.cvContent.name}}</h2>
                        </div>
                        <div class="py-2 border-bottom">
                            <h5 class="mb-0">{{ .Params.Designation }}</h5>
                        </div>
                        <div class="py-3 border-bottom">
                            <ul class="list-inline">
                                <li class="list-inline-item mr-2">
                                    <a class="social-icon-lg bg-facebook" href="{{ .Params.facebookURL | absURL }}">
                                        <i class="ti-facebook"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item mx-2">
                                    <a class="social-icon-lg bg-twitter" href="{{ .Params.twitterURL | absURL }}">
                                        <i class="ti-twitter-alt"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item mx-2">
                                    <a class="social-icon-lg bg-linkedin" href="{{ .Params.linkedinURL | absURL }}">
                                        <i class="ti-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="py-2 border-bottom">
                            <p class="font-weight-bold text-dark m-0">
                                Education</p>
                        </div>
                        {{ range .Params.education }}
                            <div class="py-1 font-sm">
                                <span class="font-weight-bold text-dark ">{{ .year }}</span>
                                <span class="font-primary">{{ .edu }}</span>
                            </div>
                        {{end}}
                    </div>
                </div>
                {{ "<!-- Brochure -->" | safeHTML }}
                <div class="rounded border py-3 px-4 mb-50">
                    <i class="d-inline-block  mr-1  ti-files" style="font-size: 20px;"></i>
                    <h4 class="mb-1 d-inline-block">Professional CV</h4>
                    <a class="font-secondary text-color d-block ml-4" href="{{ .Params.CvURL | absURL }}">Download pdf</a>
                </div>
            </aside>
            {{ "<!-- /sidebar -->" | safeHTML }}

            {{ "<!-- team member details -->" | safeHTML }}
            <div class="col-lg-8">
                <div>

               {{ range .Params.cvContent.lists }}
                   <p class="mb-1"><strong>{{.title  | safeHTML }}</strong></p>
                   <p>{{.desc  | safeHTML}}</p>
                   {{if .images}}
                       <div class="row d-flex align-text-bottom image-about">
                           {{range .images}}
                               <div class="col text-center lazyload ">
                                   <img data-src="{{.image | absURL}}" alt="{{.title}}"><br>
                                   <em>{{.title}}</em>
                               </div>
                           {{end}}
                       </div>


                   {{end}}

               {{end}}
                </div>
            </div>
        </div>
    </div>
</div>
</article>
{{ "<!-- /team single -->" | safeHTML }}


{{ partial "testimonial.html" . }}

{{ end }}

