<div class="py-50 bg4">
    <div class="position-relative hero-section">
    {{ "<!-- slider item -->" | safeHTML }}

    <div class="">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2 align-self-center text-center">
          <header class="section-title section-title-border"> <h1>Gain deeper data insight with UK based expert statistical consulting services</h1></header>

            <p>ISCON Statistics is your premium statistical consulting partner that
            provides variety of statistical solutions for the scientific data analysis
            and reporting. Our statisticians have expertise in wide array of statistical
            approaches and methodologies. This enables to help you with extensive range
            of statistical issues. Get precise, reliable and meaningful data insights
            with our cutting-edge statistical consulting and analysis services.</p>

            <p><strong>Whether you are a student, a researcher, an organization or a
            business, we provide robust, professional and ethical statistical consulting
            and analysis solutions tailored to your specific needs and
            budget.</strong></p>

            <p>As a leading statistical consulting provider, we enable you to underpin
            outstanding research. Using our expertise and knowledge, we perform accurate,
            detailed, and insightful analysis of your provided data. This allows us to
            provide you with easily comprehensible and valuable insights. By using
            comprehensible data analysis, you can easily write the outcomes and
            implications of your research study in a much more effective and impactful
            manner. Through our high-quality, robust, and accessible statistical
            consulting services, we facilitate right decision making.</p>
          </div>{{ "<!-- philosophy image -->" | safeHTML }}
        </div>
      </div>
    </div>
  </div>
</div>
