{{ "<!-- case studies -->" | safeHTML }}
<div class="section bg4 py-50">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-title section-title-border-gray">{{ .Site.Data.case.title }}</h2>{{if .Site.Data.case.desc }}
				<p class="mb-5">{{ .Site.Data.case.desc }}</p>{{end}}
			</div>
		</div>
	</div>{{ "<!-- work slider -->" | safeHTML }}
	<div class="row work-slider mt-4">
		{{ range $index, $element:= where .Site.RegularPages "Type" "case-studies"}} {{ "<!-- project item -->" | safeHTML }}
		 <div class="col-lg-3 col-md-4 col-sm-6 pb-4 filtr-item case" data-category="{{ .Params.FilterCategories }}">
                <a href="{{ .Permalink }}">
                    <div class="position-relative">
                    <div class="background-banner" style="background-image: url({{ .Params.Image | absURL }}); min-height: 250px; height: 250px; background-position: center center;">

                    </div>
                    <div class="project-info text-center">
                        <a href="{{ .Permalink }}" class="h4" style=" color: #cf0300;">{{ .Params.smallTitle }}</a>
                        <p>{{ .Params.subHeader | safeHTML }}</p>
                    </div>
                    </div>
                </a>
            </div>
            {{ end }}
	</div>
</div>
{{ "<!-- /case studies -->" | safeHTML }}
