{{ $data := index .Site.Data .Site.Language.Lang }}
{{ "<!-- project -->" | safeHTML }}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
               {{ with .Site.Data.case.title }} <h2 class="mb-2">{{ . }}</h2> {{ end }}
               {{ with .Site.Data.case.content }} <p class="mb-40">{{ . | safeHTML }}</p> {{ end }}
            </div>
            <div class="col-lg-12  ">
                <div class="project-menu text-center">
                    <p class=""><strong>Filter by Services</strong></p>
                    <ul class="controls list-inline text-left">
                        {{ "<!-- filter item list -->" | safeHTML }}
                        <li class="list-inline-item control active" data-filter="all">All</li>
                        {{ range .Site.Data.case.filterList   }}
                            {{if eq .caseType "service" }}
                                <li class="list-inline-item control" data-filter="{{ .dataFilter }}">{{ .filterTitle }}</li> 
                            {{end}}
                        {{ end }}
                    <p class="text-center"><strong>Or filter by sector</strong></p>
                        {{ "<!-- filter item list -->" | safeHTML }}
                        {{ range .Site.Data.case.filterList   }}
                            {{if eq .caseType "sector" }}
                                <li class="list-inline-item control" data-filter="{{ .dataFilter }}">{{ .filterTitle }}</li> 
                            {{end}}
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row filtr-container">
            {{ range .Data.Pages }}
            {{ "<!-- project item -->" | safeHTML }}
            <div class="col-lg-3 col-md-4 col-sm-6 pb-4 filtr-item case" data-category="{{ .Params.FilterCategories }}">
                <a href="{{ .Permalink }}"> 
                    <div class="position-relative">
                    <div class="background-banner" style="background-image: url({{ .Params.Image | absURL }}); min-height: 250px; height: 250px; background-position: center center;">

                    </div>
                    <div class="project-info">
                        <a href="{{ .Permalink }}" class="h4">{{ .Title }}</a>
                        <p>{{ .Params.subHeader | safeHTML }}</p>
                    </div>
                    </div>
                </a>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ "<!-- /project -->" | safeHTML }}

