
{{ "<!-- Choose  -->" | safeHTML }}
<section class="section bg1 py-50 pt-40">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center mb-2">
                <!-- <h5 class="section-title-sm">{{.Site.Data.chooseus.titleSM}}</h5> -->
                <h2 class="section-title section-title-border mb-3">{{.Site.Data.chooseus.title}}</h2>
            </div>
            {{ range $index, $element:= .Site.Data.chooseus.item }}
                    <div class="col-lg-3 col-sm-6 mt-2 d-flex">
                        <div class="card text-center border-0 bg-transparent flex-fill ">
                            <div class="card-body p-0">
                                <span  class="round-icon  w-150 border-0 p0" style="line-height: 0;">
                                    <img src="{{ .icon |absURL }}" alt="icon" class="img-fluid" >
                                </span>
                               
                               <h4 class="card-title pt-2 bold"><strong>{{ .heading }}</strong></h4> 
                                <p class="card-text mx-2 my-3 mb-0 pb-1">{{ .content | safeHTML}}</p>
                                <!-- <a href="{{ .Permalink }}" class="btn btn-secondary">Read More</a> -->
                            </div>
                        </div>
                    </div>
                {{ end }}
        </div>
    </div>
</section>
{{ "<!-- /Choose -->" | safeHTML }}
