{{ "<!-- Choose  -->" | safeHTML }}
<div class="py-50 bg1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center mb-2">
        <h2 class="section-title section-title-border mb-3">
        {{.Site.Data.chooseus.title}}</h2>
      </div>{{ range $index, $element:= .Site.Data.chooseus.item }}

      <div class="col-lg-3 col-sm-6 mt-2 d-flex">
        <div class="card text-center border-0 bg-transparent flex-fill">
          <div class="card-body p-0">
            <span><img data-src="{{ .icon |absURL }}" alt="icon" class="lazyload img-fluid" style="max-width: 55%;height: auto;" ></span>

            <h3 class="card-text mx-2 mt-3 mb-0 pb-0" style="font-weight: 400;font-size: 16px;">{{ .content | safeHTML}}</h3>
          </div>
        </div>
      </div>{{ end }}
    </div>
  </div>
  </div>{{ "<!-- /Choose -->" | safeHTML }}