{{ if .Site.Params.cta.enable }} {{ "<!-- cta -->" | safeHTML }}
<section class="cta py-50 text-center text-lg-left bg-5" style="background:#000;">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-6">
				{{ with .Site.Params.cta.title | safeHTML }}
				<h4 class="text-white">{{ . }}</h4>{{ end }} {{ with .Site.Params.cta.titleSM | safeHTML }}
				<p class="text-white">{{ . }}</p>{{ end }}
			</div>
			<div class="col-lg-6 text-lg-right align-self-center">
				<a class="btn btn-primary text-uppercase" href="{{.Site.Params.cta.btnURL|absURL}}">{{ with .Site.Params.cta.btnText }}{{ . }}{{ end }}</a>
			</div>
		</div>
	</div>
</section>{{ "<!-- /cta -->" | safeHTML }} {{ end }}