<section class="section py-50">
    <div class="position-relative hero-section bg2">
        {{ "<!-- slider item -->" | safeHTML }}       
        <div class="">
            <div class="container">
                <div class="row ">
                    <!-- <div class="col-lg-5 align-self-center order-1 order-lg-2 mb-md-50">
                        <img class="img-fluid w-100" src="/images/chart.png" alt="philosophy-image">
                    </div>    -->
                <div class="col-lg-8 offset-lg-2 align-self-center text-center">
                    <h5 class="section-title-sm">Let us explore, visualize, and predict </h5> 
                    <h2 class="section-title section-title-border">your data through advanced statistical modelling</h2>
                    <p>
                        We are ISCON Statistics, Bristol, UK based statistical consulting firm. We offer a wide range of managed statistical services for businesses, students, institutions, and professionals. With extensive experience in both theoretical and applied statistical methodology - applying methods in a wide range of data sets coming from different sectors such as healthcare, medical, clinical trials, and business – we aim to provide statistical results with 100% reproducibility.  Combining academic excellence with extensive practical experience, we are dedicated to provide you high quality consultancy support in all aspect of statistics and data analysis.
                    </p>
                 </div>
                 {{ "<!-- philosophy image -->" | safeHTML }}
                
                
                   
                </div>
                
            </div>
        </div>
    </div>
</section>
