<section class="section py-50">
    <div class="position-relative hero-section bg2">
        {{ "<!-- slider item -->" | safeHTML }}       
        <div class="">
            <div class="container">
                <div class="row ">
                    <!-- <div class="col-lg-5 align-self-center order-1 order-lg-2 mb-md-50">
                        <img class="img-fluid w-100" src="/images/chart.png" alt="philosophy-image">
                    </div>    -->
                <div class="col-lg-8 offset-lg-2 align-self-center text-center">
                    <h5 class="section-title-sm">Robust Statistical Solutions for Variety of Statistical Problems</h5> 
                    <h2 class="section-title section-title-border">ISCON Statistical consulting services</h2>
                    <p>
                        ISCON Statistics is your premium statistical consulting partner that provides variety of statistical solutions for the scientific data analysis and reporting. Our statisticians have expertise in wide array of statistical approaches and methodologies. This enables to help you with extensive range of problem inferences and statistical modelling. Get precise, reliable and meaningful Data Insights with Our Cutting-Edge Statistical Consulting and Analysis Services.
                    </p>
                    <p><strong>Whether you are a student, a researcher, an organization or a business, we provide robust, professional and ethical statistical consulting and analysis solutions tailored to your specific needs and budget.</strong></p>
                    <p>As a leading statistical consulting services provider, we enable you to underpin outstanding research.  Through our expertise, we ensure to perform detailed, accurate and deep analysis of your data to provide you valuable and easily comprehensible data insights. This helps you in quickly writing your research outcomes and implements them in much more effective and impactful way. Our high-quality, robust and accessible statistical consulting services facilitate right decision making. </p>
                 </div>
                 {{ "<!-- philosophy image -->" | safeHTML }}
                
                
                   
                </div>
                
            </div>
        </div>
    </div>
</section>
