{{ "<!-- footer -->" | safeHTML }}
<footer class="bg-secondary bg3">
	<div class="py-100 border-bottom" style="border-color: #454547 !important">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="mb-5 mb-md-0 text-center text-md-left">
						{{ "<!-- logo -->" | safeHTML }} <img alt="logo" class="lazyload mb-20" data-src="{{.Site.Params.footer.logo|absURL}}"> {{ with .Site.Params.footer.content }}
						<p class="text-white mb-0">{{ . }}</p>{{ end }} {{ with .Site.Params.footer.email }} <a class="text-white" href="mailto:{{.}}">{{ . }}</a> {{ end }} {{ "<!-- social icon -->" | safeHTML }}
					<ul class="list-inline mt-3">
                            {{ range .Site.Params.footer.socialIcon }}
                            <li class="list-inline-item">
                                <a class="social-icon-outline" href="{{ .URL | absURL }}">
                                    <i class="{{ .icon }}"></i>
                                </a>
                            </li>
                            {{ end }}
                        </ul>
					</div>
				</div>{{ "<!-- footer links -->" | safeHTML }}
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					{{ with .Site.Params.footer.services}}
					<h4 class="text-white mb-4">{{ . }}</h4>{{ end }}
					<ul class="footer-links">
                        {{ range where .Site.RegularPages "Type" "service" }}
                            <li>
                                <a href="{{.URL|absURL}}">{{ .Title }}</a>
                            </li>
                        {{end}}
					</ul>
				</div>{{ "<!-- footer links -->" | safeHTML }}
                {{ "<!-- subscribe form -->" | safeHTML }}
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="mt-5 mt-lg-0 text-center text-md-left">
						<h4 class="mb-4 text-white">Featured articles</h4>
						<ul class="footer-links">
                            {{ range where .Site.RegularPages "Type" "learn-statistics" }}
                                <li>
                                    <a href="{{.URL|absURL}}">{{ .Title }}</a>
                                </li>
                            {{end}}
						</ul>
					</div>
                </div>{{ "<!-- subscribe form -->" | safeHTML }}
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="mt-5 mt-lg-0 text-center text-md-left">
                            {{ with .Site.Params.footer.subscribe}} <h4 class="mb-4 text-white">{{ . }}</h4> {{ end }}
                            {{ with .Site.Params.footer.subscribeContent}} <p class="text-white mb-4">{{ . }}</p> {{ end }}
                        <form action="#" class="position-relative">
                            <input type="text" class="form-control subscribe" name="subscribe" id="Subscribe"
                                placeholder="Enter Your Email">
                            <button class="btn-subscribe" type="submit" value="send">
                                <i class="ti-arrow-right"></i>
                            </button>
                        </form>
                    </div>
                </div>
			</div>
		</div>
	</div>{{ "<!-- copyright -->" | safeHTML }}
 <nav class="pt-4 pb-3 position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-5">
                    <p class="text-white text-center text-md-left">
                       {{ with .Site.Params.footer.copyright }} {{ . | safeHTML }}</p> {{ end }}
                </div>
                <div class="col-lg-6 col-md-7">
                    <ul class="list-inline text-center text-md-right">
                        {{ range .Site.Params.footer.links }}
                        <li class="list-inline-item mx-lg-3 my-lg-0 mx-2 my-2">
                            <a class="font-secondary text-white" href="{{ .URL | absURL }}">{{ .name }}</a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>{{ "<!-- back to top -->" | safeHTML }} <button class="back-to-top"><i class="ti-angle-up"></i></button>
	</nav>
</footer>
{{ "<!-- /footer -->" | safeHTML }}
<script> var indexURL = {{ "index.json" | absURL }} </script>
{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/main.js" | minify}}
<script src="{{ $script.Permalink }}"></script>
{{ "<!-- lazy Script -->" | safeHTML }}
{{ $script := resources.Get "js/lazysizes.min.js" | minify}}
<script src="{{ $script.Permalink }}" async ></script>
<!-- google ana-->
{{- partial "ga.html" . -}}
<!-- cookies consent -->
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
<script>
  window.cookieconsent.initialise({
    container: document.getElementById("cookieconsent"),
    palette:{
     popup: {background: "black"},
     button: {background: "red"},
    },
    revokable: true,
    law: {
     regionalLaw: true,
    },
    location: true,
    onInitialise: function (status) {
  var type = this.options.type;
  var didConsent = this.hasConsented();
  if (type == 'opt-in' && didConsent) {
    // enable cookies
  }
  if (type == 'opt-out' && !didConsent) {
    // disable cookies
  }
},
    onStatusChange: function(status, chosenBefore) {
  var type = this.options.type;
  var didConsent = this.hasConsented();
  if (type == 'opt-in' && didConsent) {
    // enable cookies
  }
  if (type == 'opt-out' && !didConsent) {
    // disable cookies
  }
},
    onRevokeChoice: function() {
  var type = this.options.type;
  if (type == 'opt-in') {
    // disable cookies
  }
  if (type == 'opt-out') {
    // enable cookies
  }
},
    position: "bottom",
    theme: "classic",
    type: "opt-in",
    domain: "/",
    dismissOnScroll: true,
    secure: true,
    content: {
      "header": 'Cookies used on the website!',
      "message": 'We use cookies to provide website functionality, to analyze traffic on our website, to personalize content and to enable social media functionality. To read our privacy and cookie policy, please',
      "dismiss": 'Got it!',
      "allow": 'Allow cookies',
      "deny": 'Decline',
      "link": 'click here',
      "href": 'https://xenodochial-johnson-2c8705.netlify.app/',
      "close": '&#x274c;',
      "policy": 'Set cookies preference',
      "target": 'https://xenodochial-johnson-2c8705.netlify.app/',
      }
   });

</script>

</body>
