<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{ if .IsHome -}} <title>{{ .Site.Title }}</title>{{- else -}} <title>{{ .Title }} | ISCON Statistics </title>{{- end }}
 <meta name="referrer" content="origin-when-crossorigin">
{{ "<!-- mobile responsive meta -->" | safeHTML }}

<meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
<meta name="title" content="{{ if .IsHome -}}{{ .Site.Title }}
{{- else -}}{{ .Title }} | ISCON Statistics {{- end }}" />
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320"/>
<link rel="canonical" href="{{ .Permalink }}"/>
{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
<link rel="stylesheet" type="text/css" href="{{ "css/main.css" | absURL }} " media="screen">
<link rel="preload" href= "{{ "fonts/themify.woff" | absURL }} " as="font" type="font/woff" crossorigin>
<link rel="preload" href= "{{ "fonts/slick.woff" | absURL }} "  as="font" type="font/woff" crossorigin>
{{ "<!--Favicon-->" | safeHTML }}
<link rel="icon" href="{{ "images/homepage/favicon/favicon.png" | absURL }} " type="image/x-icon">

</head>