<head>
<meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
<meta name=viewport content="width=device-width, initial-scale=1">
{{ if .IsHome -}} <title>{{ .Site.Title }}</title>{{- else -}} <title>{{ .Title }} | ISCON Statistics </title>{{- end }}
<meta name=referrer content=origin-when-crossorigin>
{{ "" | safeHTML }}
<meta name=description content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
<meta name=title content="{{ if .IsHome -}}{{ .Site.Title }}
{{- else -}}{{ .Title }} | ISCON Statistics {{- end }}" />
<meta name=HandheldFriendly content=True>
<meta name=MobileOptimized content="320"/>
<link rel=canonical href="{{ .Permalink }}"/>
{{ with .Site.Params.author }}<meta name=author content="{{ . }}">{{ end }}
{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
{{ "" | safeHTML }}{{ $styles := resources.Get "css/main.css" | minify | fingerprint}}
<link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">
<link rel=preload href="{{ "fonts/themify.woff" | absURL }} " as=font type=font/woff crossorigin>
<link rel=preload href="{{ "fonts/slick.woff" | absURL }} " as=font type=font/woff crossorigin>
{{ "" | safeHTML }}
<link rel=icon href="{{ "images/homepage/favicon/favicon.png" | absURL }} " type=image/x-icon>
{{ $js := resources.Get "js/cookieconsent.js" }}
{{ $secureJS := $js | resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>
<script>
  window.CookieConsent.init({
    // More link URL on bar
    modalMainTextMoreLink: 'https://xenodochial-johnson-2c8705.netlify.app/',
    // How lond to wait until bar comes up
    barTimeout: 1,
    // Look and feel
    theme: {
    barColor: '#000000',
    barTextColor: '#FFF',
    barMainButtonColor: '#CF0300',
    barMainButtonTextColor: '#FFF',
    modalMainButtonColor: '#CF0300',
    modalMainButtonTextColor: '#FFF',
    },
language: {
  // Current language
  current: 'en',
  locale: {
    en: {
      barMainText: 'We use cookies to provide website functionality, to analyze traffic on our website, personalize content and to enable social media functionality. Our Cookie Statement provides more information and explains how to update your cookie settings',
      barLinkSetting: 'COOKIE SETTINGS',
      barBtnAcceptAll: 'ACCEPT ALL COOKIES',
      modalMainTitle: 'Cookie Settings',
      modalMainText: 'Cookies are small piece of data sent from a website and stored on the user\'s computer by the user\'s web browser while the user is browsing. Your browser stores each message in a small file, called cookie. When you request another page from the server, your browser sends the cookie back to the server. Cookies were designed to be a reliable mechanism for websites to remember information or to record the user\'s browsing activity.',
      modalBtnSave: 'Save current settings',
      modalBtnAcceptAll: 'Accept all cookies and close',
      modalAffectedSolutions: 'Affected functionality:',
      learnMore: 'Read our Privacy and Cookie policy here',
      on: 'On',
      off: 'Off',
    }
  }
},

categories: {
  // Google Analtyics
  Analytics: {
        needed: false,
        wanted: false,
        checked: false,
        language: {
          locale: {
            en: {
              name: 'Analytics cookies',
              description: 'These cookies help us to improve our website by collecting and reporting information on their usage. All information collected is anonymous.',
            }
          }
        }
      },
  // Hyvor talk
  Functioning: {
        needed: false,
        wanted: false,
        checked: false,
        language: {
          locale: {
            en: {
              name: 'Functining Cookies',
              description: 'These cookies enable basic interactions and functionalities on our website that allow you to access selected features of our service and facilitate your communication with us.',
            }
          }
        }
      },
  // MailChimp
  Marketing : {
        needed: false,
        wanted: false,
        checked: false,
        language: {
          locale: {
            en: {
              name: 'Marketing cookies',
              description: 'These cookies use information about your browsing activities on our and other websites to provide marketing services to you',
            }

          }
        }
      },
},

services: {
  // Google Analtyics
  analytics: {
    category: 'Analytics',
    type: 'dynamic-script',
    search: 'analytics',
    cookies: [
      {
        name: '_gid',
        domain: `.netlify.app`
      },
      {
        name: /^_ga/,
        domain: `.netlify.app`
      },
      {
        name: '_gat_gtag_UA_135116594_2',
        domain: `.netlify.app`
      },
      {
        name: '_ga',
        domain: `.gstatic.com`
      }
    ],
    language: {
      locale: {
        en: {
          name: 'Google Analytics'
        }
      }
    }},
  // Hyvor talk
  functioning : {
    category: 'Functioning',
    type: 'dynamic-script',
    search: 'anonymous',
    cookies: [
      {
        name: '_anonymous_id_',
        domain: `.${window.location.hostname}`
      },
      {
        name: /^_anonymous_id_/,
        domain: `.${window.location.hostname}`
      },
      {
        name: '_anonymous_token_',
        domain: `talk.hyvor.com`
      },
      {
        name: '__cfduid',
        domain: `.hyvor.com`
      },
      {
        name: '_ga',
        domain: `.hyvor.com`
      }

    ],
    language: {
      locale: {
        en: {
          name: 'Commenting system'
        }
      }
    }},
  // MailChimp
  marketing: {
    category: 'Marketing',
    type: 'dynamic-script',
    search: 'analytics',
    cookies: [
      {
        name: '_gid',
        domain: `.${window.location.hostname}`
      },
      {
        name: /^_ga/,
        domain: `.${window.location.hostname}`
      }
    ],
    language: {
      locale: {
        en: {
          name: 'mailchimp subscription service'
        }

      }
    }},
}
});
</script>
</head>
