{{ "<!-- navigation -->" | safeHTML }}

    {{ "<!-- nav bar -->" | safeHTML }}
    <nav class="navigation">
        <div class="container">
            <div class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{{ .Site.Params.BaseURL | absURL }}">

                    <img src="{{ .Site.Params.logo | absURL }}" alt="Hire statistician online from ISCON Statistical consulting" class="img-fluid">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                    aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item">
                            <a class="nav-link" href="{{ .Site.BaseURL }}">{{ with .Site.Params.Home }} {{ . }} {{ end }}</a>
                        </li>
                        {{ range .Site.Menus.nav }}
                            {{ if .HasChildren }}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="{{ .URL }}" role="button"  aria-haspopup="true"
                                    aria-expanded="false">
                                    {{ .Name }}
                                </a>
                                <div class="dropdown-menu" >
                                    <div class="container">
                                            <ul class="nav row">
                                                {{ range .Children }}
                                                <li class="nav-item col-md-4">
                                                  <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
                                                  <p class="px-2 py-0">{{ .Pre }} </p>
                                                </li>
                                                {{end}}
                                            </ul>

                                    </div>
                                </div>
                            </li>
                        {{ else }}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
                        </li>
                        {{ end }}
                        {{ end }}


                    </ul>

                    {{ if .Site.Params.quoteBtn.enable }}

                            <a class="nav-link btn btn-primary btn-sm2" href="{{ .Site.Params.quoteBtn.btnURL | absURL }}">{{ with .Site.Params.quoteBtn.btnText }} {{ . }} {{ end }}</a>

                        {{ end }}

                </div>
            </div>
        </div>
    </nav>
