{{ $data := index .Site.Data .Site.Language.Lang }}
{{ if $data.heroSlider.enable }}
{{ "<!-- hero slider -->" | safeHTML }}
<div>
    <div class="hero-slider-2 position-relative">
        {{ "<!-- slider item -->" | safeHTML }}
        {{ range $data.heroSlider.sliderItem }}
        <div class="hero-slider-item py-50" style="background-image: url('{{ .bgImage | absURL }}')" data-icon="{{ .dataIcon }}"
            data-text="{{ .dataText }}">
            <div class="container">
                <div class="row">

                    <div class="{{if .rightImage }}col-lg-6 {{else}}col-lg-12{{end}}">
                        <div class="hero-content pt-5">
                            <div class="text-uppercase mb-1" data-duration-in=".5" data-animation-in="fadeInLeft"
                                data-delay-in=".1">{{ .subHeading }}</div>
                            <div class="font-weight-bold mb-3" data-duration-in=".5" data-animation-in="fadeInLeft"
                                data-delay-in=".5">{{ .heading }}</div>
                            <p class="text-dark mb-50" data-duration-in=".5" data-animation-in="fadeInLeft"
                                data-delay-in=".9">{{ .description | safeHTML }}
                            </p>
                            {{ if .btn.enable }}
                            <a data-duration-in=".5" data-animation-in="fadeInDown" data-delay-in="1.3" href="{{ .btn.btnURL | absURL }}" class="btn btn-outline text-uppercase">{{ .btn.btnText }}</a>
                            {{ end }}
                        </div>
                    </div>
                    {{if .rightImage }}
                    <div class="col-lg-6">
                        <img src="{{ .rightImage | absURL }}" alt="banner">
                    </div>
                    {{end}}
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ "<!-- /hero slider -->" | safeHTML }}
{{ end }}