{{ "<!-- blog single -->" | safeHTML }}
<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 py-100">
                <div class="border rounded bg-white">
                    <img class="img-fluid w-100 rounded-top" src="{{ .Params.image | absURL }}" alt="blog-image">
                    <div class="p-4">

                        <ul class="list-inline d-block pb-4 border-bottom mb-3">
                            <li class="list-inline-item text-color"><img class="rounded-circle author-image" alt="100x100" src="{{ .Params.authorImage | absURL }}"
                                data-holder-rendered="true"> </li>

                            <li class="list-inline-item text-color">By: {{ .Params.Author }}</li>
                            <li class="list-inline-item text-color">Date: {{ .PublishDate.Format "02 Jan" }}</li>
                            <!-- <li class="list-inline-item text-color">Tag:
                                {{ range .Params.Tags }}
                                <a class="text-color" href="{{ "tags/" | absURL }}{{ . | lower }}">{{ . }}</a>
                                {{ end }}
                            </li> -->
                        </ul>
                        <div class="post-content">
                            <h1>{{ .Title }}</h1>
                            <ul class="list-inline d-block">
                                <li class="list-inline-item text-color">Category:
                                    {{ range .Params.categories }}
                                    <a class="text-color" href="{{ "categories/" | relLangURL }}{{ . | urlize | lower }}">{{ . }}</a>
                                    {{ end }}
                                </li>
                            </ul>
                            <ul class="list-inline d-block pb-4 border-bottom mb-3"></ul>
                                <li class="list-inline-item text-color">Tag:
                                    {{ range .Params.Tags }}
                                    <a class="text-color" href="{{ "tags/" | absURL }}{{ . | lower }}">{{ . }}</a>
                                    {{ end }}
                                </li>
                            </ul>

                <div class="py-4 border-bottom mb-3">
                    <div class="row">
                        <div class="col-lg-5 mb-4 mb-lg-0">
                            {{ "<!-- share-icon -->" | safeHTML }}
                            <div class="d-flex">
                                <span class="font-weight-light mt-2 mr-3">Share:</span>
                                <ul class="list-inline d-inline-block">
                                    {{ range .Site.Params.sharePost }}
                                    <li class="list-inline-item">
                                        <a class="share-icon bg-secondary" href="{{ .URL | absURL }}">
                                            <i class="{{ .icon }}"></i>
                                        </a>
                                    </li>
                                    {{ end }}
                                </ul>
                            </div>
                        </div>
                        {{ "<!-- tags -->" | safeHTML }}
                        </div>
                    </div>
                            {{ .Content }}
                        </div>
                    </div>
                </div>
                </div>


                {{ "<!-- Sidebar -->" | safeHTML }}
                <div class="col-lg-4">
                    <div class="bg-white px-4 py-100 sidebar-box-shadow ">

                        {{partial "search-form.html" . }}

                        {{ "<!-- categories -->" | safeHTML }}
                        <div class="mb-50">
                            <h4 class="mb-3">Topics </h4>
                            {{- if isset .Site.Taxonomies "categories" }}
                            {{- if not (eq (len .Site.Taxonomies.categories) 0) }}
                            <ul class="list-unstyled mb-0">
                                {{- range $name, $items := .Site.Taxonomies.categories }}
                                <li class="border-bottom">
                                    <a href="{{ "categories/" | relLangURL }}{{ $name | urlize | lower }}" class="d-block text-color py-10">{{ $name | title | humanize }}</a>
                                </li>
                                {{- end }}
                            </ul>
                            {{- end }}
                            {{- end }}
                        </div>


                        {{ "<!-- tags -->" | safeHTML }}
                        <div class="mb-50">
                            <h4 class="mb-3">Tags</h4>
                            {{- if isset .Site.Taxonomies "tags" }}
                            {{- if not (eq (len .Site.Taxonomies.tags) 0) }}
                            <ul class="list-inline tag-list">
                                {{- range $name, $items := .Site.Taxonomies.tags }}
                                <li class="list-inline-item"><a href="{{ "tags/" | relLangURL }}{{ $name | urlize | lower }}">{{ $name | humanize }}</a></li>
                                {{- end }}
                            </ul>
                            {{- end }}
                            {{- end }}
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</article>
{{ "<!-- /blog-single -->" | safeHTML }}