{{ "<!-- philosophy -->" | safeHTML }}
<div class=" py-50 bg1">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-sm-8 order-2 order-lg-2">
				<h2 class="section-title section-title-border-half">{{ .Site.Data.helpfulServices.title }} </h2>
				<ul class="d-inline-block pl-0 float-sm-left mr-sm-5" style="
    list-style: none;">
					{{ range .Site.Data.helpfulServices.item }}</li>
					<li class="font-secondary mb-10">
					  <h3>{{.heading | safeHTML}}</h3>

						<p>{{.content | safeHTML }}</p>
					</li>
					{{end}}
				</ul>
			</div>{{ "<!-- philosophy image -->" | safeHTML }}
			<div class="col-lg-5 col-sm-4 align-self-center order-1 order-lg-1 mb-md-50"><img alt="core values of ISCON Statistical Consulting UK" class="img-fluid w-100" src="{{.Site.Data.helpfulServices.image|absURL}}"></div>
		</div>
	</div>
</div>{{ "<!-- /philosophy -->" | safeHTML }}