{{ "<!-- page title -->" | safeHTML }}
<article>
<div class="page-title" style="background-image: url('{{ .Params.bgImage | absURL }}');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
               <header><h1 class="font-weight-bold">{{ .Title }}</h1></header>
               <nav> <ol class="breadcrumb">
                    <li>
                        <a href="{{ .Site.BaseURL }}">{{ .Site.Params.home }}</a>
                    </li>
                    <li>{{ .Title }}</li>
                </ol></nav>
            </div>
        </div>
    </div>
</div>
{{ "<!-- /page title -->" | safeHTML }}