{{ if .IsHome -}}

<script type='application/ld+json'>
{
   "@context":"https://schema.org",
   "@graph":[

       {
  "@type": "LocalBusiness",
  "additionalType": [
    "http://www.productontology.org/id/Consulting_firm",
    "http://www.productontology.org/id/Methodological_advisor",
    "http://www.productontology.org/id/Statistician" ],
  "image": [
    "https://xenodochial-johnson-2c8705.netlify.app/images/bio.png",
    "https://xenodochial-johnson-2c8705.netlify.app/images/cover.png"
   ],
  "@id": "https://xenodochial-johnson-2c8705.netlify.app/#local",
  "name": "ISCON Statistical Services",
  "branchOf":
  {"@id": "https://xenodochial-johnson-2c8705.netlify.app/#organization"},

  "priceRange" : "£££",
  "description": "Hire freelance statistician. UK based medical statistician offers consultancy services in statistical aspect of data analysis for your research project or dissertation",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "184 Great Meadow Road",
    "addressLocality": "Bristol",
    "addressRegion": "South Gloucestershire",
    "postalCode": "BS32 8DB",
    "addressCountry": "GB"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 51.5258987,
    "longitude": -2.5386741
  },
  "hasMap": [
    "https://goo.gl/maps/5NAWGbpRUu5CL2DZ7",
    "https://binged.it/2YnVVbv"
  ],
  "aggregateRating": {
      "@type": "AggregateRating",
              "ratingValue": "4.5",
              "bestRating": "5",
              "worstRating": "1",
              "ratingCount": "2"
    },
   "review": {
    "@type": "Review",
    "url": "https://goo.gl/maps/ad1f92aeuwr",
    "author": {
      "@type": "Person",
      "name": "Rob Ventom"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Google"
    },
    "datePublished": "2019-05-28T20:00",
    "description": "Great work mate",
    "inLanguage": "en",
    "reviewRating": {
      "@type": "Rating",
      "worstRating": 1,
      "bestRating": 5,
      "ratingValue": 4
    }
  },
  "url": "https://xenodochial-johnson-2c8705.netlify.app/",
  "telephone": "+447392339862",
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday"
      ],
      "opens": "17:30",
      "closes": "23:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Saturday",
        "Sunday"
      ],
      "opens": "00:00",
      "closes": "23:59"
    }

  ]


},

       { "@type": "Organization",

    "@id":"https://xenodochial-johnson-2c8705.netlify.app/#organization",
    "name": "ISCON Statistical Services",
    "legalName" : "ISCON Statistical Services",
    "description": "Experienced and professional statistician offers reliable statistical consulting services online to researchers, businesses and PhD students. Hire RSS(UK) accredited freelance statistician for in-depth data analysis and statistical modelling in R, SPSS, STATA. Ask for statistics help in dissertation, medical statistics",
	"address": {
		"@type": "PostalAddress",
		"addressCountry": "GB",
		"addressLocality": "Bristol",
		"addressRegion": "England",
		"postalCode": "BS32 8DB",
		"streetAddress": "184 Great Meadow Road"
	},
  "email": "admin@isconstatistics.com",
  "url": "https://xenodochial-johnson-2c8705.netlify.app/",
  "logo":{
            "@type":"ImageObject",
            "@id":"https://xenodochial-johnson-2c8705.netlify.app/#logo",
            "url": "https://xenodochial-johnson-2c8705.netlify.app/images/homepage/logo/logo.png",
            "caption":"ISCON Statistical Services"
         },
  "image":{
            "@id":"https://xenodochial-johnson-2c8705.netlify.app/#logo"
         },
  "contactPoint" : [
    { "@type" : "ContactPoint",
      "telephone" : "+447392339862",
      "contactType" : "customer service"

    }],
    "sameAs" : [
    "https://www.crunchbase.com/organization/statistician-online",
    "https://www.researchgate.net/profile/Statistician_Online",
    "https://goo.gl/maps/BQFvYboRthu",
    "https://binged.it/2Hf7YCg",
    "https://www.youtube.com/channel/UCYCcg0K66kRxvOSg4P8THnw",
    "https://www.facebook.com/statisticianonline/",
    "https://www.linkedin.com/in/statistician-online-308544180/",
    "https://twitter.com/Stat_online",
    "https://www.pinterest.co.uk/chetanprajapati0832/"
    ],
    "founder": {
		"@type": "Person",
		"@id":"https://xenodochial-johnson-2c8705.netlify.app/#author",
		"award": "John Henry Brookes",
		"jobTitle": "Statistician",
		"name": "Chetan Prajapati",
    "sameAs" : [
    "https://www.facebook.com/MadhavMedStats",
    "https://twitter.com/chetan_oxforduk",
    "https://www.instagram.com/chetanprap/",
    "https://www.youtube.com/channel/UCexPou_7nfzo192qRTVbtNQ/",
    "https://www.linkedin.com/in/statistical-evidence/",
    "https://www.crunchbase.com/person/chetan-prajapati",
    "http://www.bristol.ac.uk/clinical-sciences/people/chetan-a-prajapati/index.html" ]

     },
    "areaServed": {
    "@type": "GeoShape",
    "addressCountry": ["BE","BH","CA","CH","CY","DE","EE","ES","FI","FR","GR","IE","IT","KW","LU","LV","MT","NL","NZ","PT","SG","SI","SK","GB"]
  },
    "hasOfferCatalog": {
    "@type": "OfferCatalog",
    "name": "Statistical Consulting Service",
    "description": "Freelance Statistical consultant provides statistical data analysis service using statistical methods in STATA, SPSS,R and SAS",
    "itemListElement": [
      {
        "@type": "OfferCatalog",
        "name": "Data analysis",
        "itemListElement": [
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
               "additionalType": "http://www.productontology.org/id/Thesis",
             "name": "Dissertation Statistics Help"
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "additionalType": "http://www.productontology.org/id/Data_analysis",
              "name": "Business Statistics"
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
               "additionalType": "http://www.productontology.org/id/Epidemiology",
              "name": "Medical Statistics"
            }
          }
        ]
      },
      {
        "@type": "OfferCatalog",
        "name": "Biostatistics",
        "itemListElement": [
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "additionalType": "http://www.productontology.org/id/Biostatistics",
              "name": "Randomized controlled trial"
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "additionalType": "http://www.productontology.org/id/Bayesian_statistics",
              "name": "Bayesian Statistics"
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "additionalType": "http://www.productontology.org/id/Regression_analysis",
              "name": "Probability and statistics"
            }
          }
        ]
      }
    ]
  }
      },

       {
         "@type":"WebSite",
         "@id":"https://xenodochial-johnson-2c8705.netlify.app/#website",
         "url":"https://xenodochial-johnson-2c8705.netlify.app/",
         "name":"ISCON Statistical Services",
         "potentialAction": {
             "@type": "SearchAction",
             "target": "https://xenodochial-johnson-2c8705.netlify.app/search/?s={search_term_string}",
             "query-input": "required name=search_term_string"
      },
         "publisher":{
            "@id":"https://xenodochial-johnson-2c8705.netlify.app/#organization"
         },
         "about":{
            "@id":"https://xenodochial-johnson-2c8705.netlify.app/#local"}

      },

       {
         "@type":"WebPage",
         "@id":"https://xenodochial-johnson-2c8705.netlify.app/#webpage",
         "url":"https://xenodochial-johnson-2c8705.netlify.app/",
         "inLanguage":"en-US",
         "name":"ISCON Statistical Services - Freelance Statistical Consulting",
         "isPartOf":{
            "@id":"https://xenodochial-johnson-2c8705.netlify.app/#website"
         },
         "about":{
            "@id":"https://xenodochial-johnson-2c8705.netlify.app/#local"
         },
         "description": "{{ with .Site.Params.description }}{{ . }}{{ end }}" ,
         {{ if not .PublishDate.IsZero -}}
  "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
  {{- else if not .Date.IsZero -}}
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
  {{- end }}
  {{ with .Lastmod -}}
  "dateModified": "{{ .Format "2006-01-02T15:04:05-07:00" | safeHTML }}"
  {{- end }}
      }
]
}
</script>

{{- else if .IsPage -}}

<script type='application/ld+json' >
{
  "@context":"https://schema.org",

  "@graph":
[

      {
  "@type": "LocalBusiness",
  "additionalType": [
    "http://www.productontology.org/id/Consulting_firm",
    "http://www.productontology.org/id/Methodological_advisor",
    "http://www.productontology.org/id/Statistician" ],
  "image": [
    "https://xenodochial-johnson-2c8705.netlify.app/images/bio.png",
    "https://xenodochial-johnson-2c8705.netlify.app/images/cover.png"
   ],
  "@id": "https://xenodochial-johnson-2c8705.netlify.app/#local",
  "name": "ISCON Statistical Services",
  "branchOf":
  {"@id": "https://xenodochial-johnson-2c8705.netlify.app/#organization"},

  "priceRange" : "£££",
  "description": "Hire freelance statistician. UK based medical statistician offers consultancy services in statistical aspect of data analysis for your research project or dissertation",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "184 Great Meadow Road",
    "addressLocality": "Bristol",
    "addressRegion": "South Gloucestershire",
    "postalCode": "BS32 8DB",
    "addressCountry": "GB"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 51.5258987,
    "longitude": -2.5386741
  },
  "hasMap": [
    "https://goo.gl/maps/5NAWGbpRUu5CL2DZ7",
    "https://binged.it/2YnVVbv"
  ],
  "aggregateRating": {
      "@type": "AggregateRating",
              "ratingValue": "4.5",
              "bestRating": "5",
              "worstRating": "1",
              "ratingCount": "2"
    },
   "review": {
    "@type": "Review",
    "url": "https://goo.gl/maps/ad1f92aeuwr",
    "author": {
      "@type": "Person",
      "name": "Rob Ventom"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Google"
    },
    "datePublished": "2019-05-28T20:00",
    "description": "Great work mate",
    "inLanguage": "en",
    "reviewRating": {
      "@type": "Rating",
      "worstRating": 1,
      "bestRating": 5,
      "ratingValue": 4
    }
  },
  "url": "https://xenodochial-johnson-2c8705.netlify.app/",
  "telephone": "+447392339862",
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday"
      ],
      "opens": "17:30",
      "closes": "23:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Saturday",
        "Sunday"
      ],
      "opens": "00:00",
      "closes": "23:59"
    }

  ]


},

      { "@type": "Organization",

    "@id":"https://xenodochial-johnson-2c8705.netlify.app/#organization",
    "name": "ISCON Statistical Services",
    "legalName" : "Statistician-Online.com",
    "description": "Experienced and professional statistician offers reliable statistical consulting services online to researchers, businesses and PhD students. Hire RSS(UK) accredited freelance statistician for in-depth data analysis and statistical modelling in R, SPSS, STATA. Ask for statistics help in dissertation, medical statistics",
	"address": {
		"@type": "PostalAddress",
		"addressCountry": "GB",
		"addressLocality": "Bristol",
		"addressRegion": "England",
		"postalCode": "BS32 8DB",
		"streetAddress": "184 Great Meadow Road"
	},
  "email": "chetan@statistician-online.com",
  "url": "https://xenodochial-johnson-2c8705.netlify.app/",
  "logo":{
            "@type":"ImageObject",
            "@id":"https://xenodochial-johnson-2c8705.netlify.app/#logo",
            "url": "https://xenodochial-johnson-2c8705.netlify.app/images/publisherlogo.png",
            "caption":"ISCON Statistical Services"
         },
  "image":{
            "@id":"https://xenodochial-johnson-2c8705.netlify.app/#logo"
         },
  "contactPoint" : [
    { "@type" : "ContactPoint",
      "telephone" : "+447392339862",
      "contactType" : "customer service"

    }],
    "sameAs" : [
    "https://www.crunchbase.com/organization/statistician-online",
    "https://www.researchgate.net/profile/Statistician_Online",
    "https://goo.gl/maps/BQFvYboRthu",
    "https://binged.it/2Hf7YCg",
    "https://www.youtube.com/channel/UCYCcg0K66kRxvOSg4P8THnw",
    "https://www.facebook.com/statisticianonline/",
    "https://www.linkedin.com/in/statistician-online-308544180/",
    "https://twitter.com/Stat_online",
    "https://www.pinterest.co.uk/chetanprajapati0832/"
    ],
    "founder": {
		"@type": "Person",
		"@id":"https://xenodochial-johnson-2c8705.netlify.app/#author",
		"award": "John Henry Brookes",
		"jobTitle": "Statistician",
		"name": "Chetan Prajapati",
    "sameAs" : [
    "https://www.facebook.com/MadhavMedStats",
    "https://twitter.com/chetan_oxforduk",
    "https://www.instagram.com/chetanprap/",
    "https://www.youtube.com/channel/UCexPou_7nfzo192qRTVbtNQ/",
    "https://www.linkedin.com/in/statistical-evidence/",
    "https://www.crunchbase.com/person/chetan-prajapati",
    "http://www.bristol.ac.uk/clinical-sciences/people/chetan-a-prajapati/index.html" ]

     },
    "areaServed": {
    "@type": "GeoShape",
    "addressCountry": ["BE","BH","CA","CH","CY","DE","EE","ES","FI","FR","GR","IE","IT","KW","LU","LV","MT","NL","NZ","PT","SG","SI","SK","GB"]
  },
    "hasOfferCatalog": {
    "@type": "OfferCatalog",
    "name": "Statistical Consulting Service",
    "description": "Freelance Statistical consultant provides statistical data analysis service using statistical methods in STATA, SPSS,R and SAS",
    "itemListElement": [
      {
        "@type": "OfferCatalog",
        "name": "Data analysis",
        "itemListElement": [
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
               "additionalType": "http://www.productontology.org/id/Thesis",
             "name": "Dissertation Statistics Help"
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "additionalType": "http://www.productontology.org/id/Data_analysis",
              "name": "Business Statistics"
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
               "additionalType": "http://www.productontology.org/id/Epidemiology",
              "name": "Medical Statistics"
            }
          }
        ]
      },
      {
        "@type": "OfferCatalog",
        "name": "Biostatistics",
        "itemListElement": [
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "additionalType": "http://www.productontology.org/id/Biostatistics",
              "name": "Randomized controlled trial"
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "additionalType": "http://www.productontology.org/id/Bayesian_statistics",
              "name": "Bayesian Statistics"
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "additionalType": "http://www.productontology.org/id/Regression_analysis",
              "name": "Probability and statistics"
            }
          }
        ]
      }
    ]
  }
      },

      {
         "@type":"WebSite",
         "@id":"https://xenodochial-johnson-2c8705.netlify.app/#website",
         "url":"https://xenodochial-johnson-2c8705.netlify.app/",
         "name":"ISCON Statistical Services",
          "potentialAction": {
             "@type": "SearchAction",
             "target": "https://xenodochial-johnson-2c8705.netlify.app/search/?s={search_term_string}",
             "query-input": "required name=search_term_string"
      },
         "publisher":{
            "@id":"https://xenodochial-johnson-2c8705.netlify.app/#organization"
         },
         "about":{
            "@id":"https://xenodochial-johnson-2c8705.netlify.app/#local"}
      },

      {
  "@type":"WebPage",
  "@id":"{{ .Permalink }}#webpage",
  "url":"{{ .Permalink }}",
  "inLanguage":"en-US",
  "name":"{{ .Title }}",
  "isPartOf":
  {"@id": "https://xenodochial-johnson-2c8705.netlify.app/#website"},
  "image":
  {"@type":"ImageObject",
  "@id":"{{ .Permalink }}#primaryimage",
  "url": "{{ .Param "pageimage.image.url" | absURL }}",
  "width": {{ .Param "pageimage.image.width" }},
  "height": {{ .Param "pageimage.image.height" }},
  "caption": "{{ .Param "pageimage.image.text" }}"

  },

  "primaryImageOfPage":
  {"@id":"{{ .Permalink }}#primaryimage"},
  {{ if not .PublishDate.IsZero -}}
  "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
  {{- else if not .Date.IsZero -}}
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
  {{- end }}
  {{ with .Lastmod -}}
  "dateModified": "{{ .Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
  {{- end }}
  "description": "{{ .Description }}",
  "breadcrumb":
  {
    "@id":"{{ .Permalink }}#breadcrumb"}
},

      {
"@type":"Article",
"@id":"{{ .Permalink }}#article",
"isPartOf":
{
"@id":"{{ .Permalink }}#webpage"},
"author":{"@id":"https://xenodochial-johnson-2c8705.netlify.app/#author",
"name":"Chetan Prajapati"},
"publisher":
{"@id":"https://xenodochial-johnson-2c8705.netlify.app/#organization"},
"headline":"{{ .Title }}",
{{ if not .PublishDate.IsZero -}}
  "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
  {{- else if not .Date.IsZero -}}
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
  {{- end }}
  {{ with .Lastmod -}}
  "dateModified": "{{ .Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
  {{- end }}
"mainEntityOfPage":"{{ .Permalink }}#webpage",
"image":
{"@id":"{{ .Permalink }}#primaryimage"},
{{ with .Params.tags -}}
  "keywords": "{{ delimit . ", " }}"
  {{- end }}
},

      {"@type":"Person",
"@id":"https://xenodochial-johnson-2c8705.netlify.app/#author",
"name":"Chetan Prajapati",
"image":
{
  "@type":"ImageObject",
  "@id":"https://xenodochial-johnson-2c8705.netlify.app/#personlogo",
  "url":"https://xenodochial-johnson-2c8705.netlify.app/images/chetan.png",
  "caption":"Chetan Prajapati"},

  "description":"Chetan is Applied Statistician and sole proprietor of statistician-online.com. He enjoys writing about R programming and statistical modelling",

  "sameAs":[
    "https://www.facebook.com/MadhavMedStats",
    "https://twitter.com/chetan_oxforduk",
    "https://www.instagram.com/chetanprap/",
    "https://www.youtube.com/channel/UCexPou_7nfzo192qRTVbtNQ/",
    "https://www.linkedin.com/in/statistical-evidence/",
    "https://www.crunchbase.com/person/chetan-prajapati",
    "http://www.bristol.ac.uk/clinical-sciences/people/chetan-a-prajapati/index.html"

    ]}

]

}
</script>


{{- end }}
