{{ if .IsHome -}}

<script type='application/ld+json'>
{
   "@context":"https://schema.org",
   "@graph":[
 /* local buisness */
       {
  "@type": "LocalBusiness",
  "additionalType": [
    "http://www.productontology.org/id/Consulting_firm",
    "http://www.productontology.org/id/Methodological_advisor",
    "http://www.productontology.org/id/Statistician" ],
  "image": [
    "https://www.isconstatistics.com/images/bio.png",
    "https://www.isconstatistics.com/images/cover.png"
   ],
  "@id": "https://www.isconstatistics.com/#local",
  "name": "ISCON Statistical Services",
  "branchOf":
  {"@id": "https://www.isconstatistics.com/#organization"},

  "priceRange" : "£££",
  "description": {{ with .Site.Params.description }}{{ . }}{{ end }} ,
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "184 Great Meadow Road",
    "addressLocality": "Bristol",
    "addressRegion": "South Gloucestershire",
    "postalCode": "BS32 8DB",
    "addressCountry": "GB"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": {{ with .Site.Params.mapLatitude }}{{ . }}{{ end }},
    "longitude": {{ with .Site.Params.mapLongitude }}{{ . }}{{ end }}
  },
  "hasMap": [
    "https://goo.gl/maps/5NAWGbpRUu5CL2DZ7",
    "https://binged.it/2YnVVbv"
  ],
  "aggregateRating": {
      "@type": "AggregateRating",
              "ratingValue": "4.5",
              "bestRating": "5",
              "worstRating": "1",
              "ratingCount": "2"
    },
   "review": {
    "@type": "Review",
    "url": "https://goo.gl/maps/ad1f92aeuwr",
    "author": {
      "@type": "Person",
      "name": "Rob Ventom"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Google"
    },
    "datePublished": "2019-05-28T20:00",
    "description": "Great work mate",
    "inLanguage": "en",
    "reviewRating": {
      "@type": "Rating",
      "worstRating": 1,
      "bestRating": 5,
      "ratingValue": 4
    }
  },
  "url": "https://www.isconstatistics.com/",
  "telephone": "+447392339862",
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday"
      ],
      "opens": "17:30",
      "closes": "23:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Saturday",
        "Sunday"
      ],
      "opens": "00:00",
      "closes": "23:59"
    }

  ]


},
/* Organization */
      { "@type": "Organization",

    "@id":"https://www.isconstatistics.com/#organization",
    "name": "ISCON Statistical Services",
    "legalName" : "ISCON Statistical Services LTD",
    "description": {{ with .Site.Params.description }}{{ . }}{{ end }},
	"address": {
		"@type": "PostalAddress",
		"addressCountry": "GB",
		"addressLocality": "Bristol",
		"addressRegion": "England",
		"postalCode": "BS32 8DB",
		"streetAddress": "184 Great Meadow Road"
	},
  "email": "admin@isconstatistics.com",
  "url": "https://www.isconstatistics.com/",
  "logo":{
            "@type":"ImageObject",
            "@id":"https://www.isconstatistics.com/#logo",
            "url": "https://www.isconstatistics.com/images/homepage/logo/logo.png",
            "caption":"ISCON Statistical Services"
         },
  "image":{
            "@id":"https://www.isconstatistics.com/#logo"
         },
  "contactPoint" : [
    { "@type" : "ContactPoint",
      "telephone" : "+447392339862",
      "contactType" : "customer service"

    }],
    "sameAs" : [
    "https://www.crunchbase.com/organization/statistician-online",
    "https://www.researchgate.net/profile/Statistician_Online",
    "https://goo.gl/maps/BQFvYboRthu",
    "https://binged.it/2Hf7YCg",
    "https://www.youtube.com/channel/UCYCcg0K66kRxvOSg4P8THnw",
    "https://www.facebook.com/statisticianonline/",
    "https://www.linkedin.com/in/statistician-online-308544180/",
    "https://twitter.com/Stat_online",
    "https://www.pinterest.co.uk/chetanprajapati0832/"
    ],
    "founder": {
		"@type": "Person",
		"@id":"https://www.isconstatistics.com/#author",
		"award": "John Henry Brookes",
		"jobTitle": "Statistician",
		"name": "Chetan Prajapati",
    "sameAs" : [
    "https://www.facebook.com/MadhavMedStats",
    "https://twitter.com/chetan_oxforduk",
    "https://www.instagram.com/chetanprap/",
    "https://www.youtube.com/channel/UCexPou_7nfzo192qRTVbtNQ/",
    "https://www.linkedin.com/in/statistical-evidence/",
    "https://www.crunchbase.com/person/chetan-prajapati",
    "http://www.bristol.ac.uk/clinical-sciences/people/chetan-a-prajapati/index.html" ]

     },
    "areaServed": {
    "@type": "GeoShape",
    "addressCountry": ["BE","BH","CA","CH","CY","DE","EE","ES","FI","FR","GR","IE","IT","KW","LU","LV","MT","NL","NZ","PT","SG","SI","SK","GB"]
  },
    "hasOfferCatalog": {
    "@type": "OfferCatalog",
    "name": "Statistical Consulting Service",
    "description": "Freelance Statistical consultant provides statistical data analysis service using statistical methods in STATA, SPSS,R and SAS",
    "itemListElement": [
      {
        "@type": "OfferCatalog",
        "name": "Data analysis",
        "itemListElement": [
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
               "additionalType": "http://www.productontology.org/id/Thesis",
             "name": "Dissertation Statistics Help"
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "additionalType": "http://www.productontology.org/id/Data_analysis",
              "name": "Business Statistics"
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
               "additionalType": "http://www.productontology.org/id/Epidemiology",
              "name": "Medical Statistics"
            }
          }
        ]
      },
      {
        "@type": "OfferCatalog",
        "name": "Biostatistics",
        "itemListElement": [
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "additionalType": "http://www.productontology.org/id/Biostatistics",
              "name": "Randomized controlled trial"
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "additionalType": "http://www.productontology.org/id/Bayesian_statistics",
              "name": "Bayesian Statistics"
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "additionalType": "http://www.productontology.org/id/Regression_analysis",
              "name": "Probability and statistics"
            }
          }
        ]
      }
    ]
  }
      },
/* WebSite */
      {
         "@type":"WebSite",
         "@id":"https://www.isconstatistics.com/#website",
         "url":"https://www.isconstatistics.com/",
         "potentialAction": {
            "@type": "SearchAction",
            "target": "https:www.isconstatistics.com/search/?s={search_term_string}",
          "query-input": "required name=search_term_string"
      },
         "name":"ISCON Statistical Services",
         "publisher":{
            "@id":"https://www.isconstatistics.com/#organization"
         },
         "about":{
            "@id":"https://www.isconstatistics.com/#local"}

      },
/* Webpage */
      {
         "@type":"WebPage",
         "@id":"https://www.isconstatistics.com/#webpage",
         "url":"https://www.isconstatistics.com/",
         "inLanguage":"en-US",
         "name":"ISCON Statistical Services",
         "speakable": {
      "@type": "SpeakableSpecification",
      "xpath": [
        "/html/head/title",
        "/html/head/meta[@name='description']/@content"
        ]
      },
         "isPartOf":{
            "@id":"https://www.isconstatistics.com/#website"
         },
         "about":{
            "@id":"https://www.isconstatistics.com/#local"
         },
         "description": {{ with .Site.Params.description }}{{ . }}{{ end }} ,
{{ if not .PublishDate.IsZero -}}
         "datePublished": {{ .PublishDate.Format "2006-01-02T15:04:05-07:00" | safeHTML }},

{{- else if not .Date.IsZero -}}
         "datePublished": {{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }},

  {{- end }}

  {{ with .Lastmod -}}
         "dateModified": {{ .Format "2006-01-02T15:04:05-07:00" | safeHTML }}
  {{- end }}
      }
]
}
</script>

{{- else if .IsPage -}}

<script type='application/ld+json' >

{
  "@context":"https://schema.org",

  "@graph":
[
  /* local buisness */
       {
  "@type": "LocalBusiness",
  "additionalType": [
    "http://www.productontology.org/id/Consulting_firm",
    "http://www.productontology.org/id/Methodological_advisor",
    "http://www.productontology.org/id/Statistician" ],
  "image": [
    "https://www.isconstatistics.com/images/bio.png",
    "https://www.isconstatistics.com/images/cover.png"
   ],
  "@id": "https://www.isconstatistics.com/#local",
  "name": "ISCON Statistical Services",
  "branchOf":
  {"@id": "https://www.isconstatistics.com/#organization"},

  "priceRange" : "£££",
  "description": {{ with .Site.Params.description }}{{ . }}{{ end }} ,
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "184 Great Meadow Road",
    "addressLocality": "Bristol",
    "addressRegion": "South Gloucestershire",
    "postalCode": "BS32 8DB",
    "addressCountry": "GB"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": {{ with .Site.Params.mapLatitude }}{{ . }}{{ end }},
    "longitude": {{ with .Site.Params.mapLongitude }}{{ . }}{{ end }}
  },
  "hasMap": [
    "https://goo.gl/maps/5NAWGbpRUu5CL2DZ7",
    "https://binged.it/2YnVVbv"
  ],
  "aggregateRating": {
      "@type": "AggregateRating",
              "ratingValue": "4.5",
              "bestRating": "5",
              "worstRating": "1",
              "ratingCount": "2"
    },
   "review": {
    "@type": "Review",
    "url": "https://goo.gl/maps/ad1f92aeuwr",
    "author": {
      "@type": "Person",
      "name": "Rob Ventom"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Google"
    },
    "datePublished": "2019-05-28T20:00",
    "description": "Great work mate",
    "inLanguage": "en",
    "reviewRating": {
      "@type": "Rating",
      "worstRating": 1,
      "bestRating": 5,
      "ratingValue": 4
    }
  },
  "url": "https://www.isconstatistics.com/",
  "telephone": "+447392339862",
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday"
      ],
      "opens": "17:30",
      "closes": "23:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Saturday",
        "Sunday"
      ],
      "opens": "00:00",
      "closes": "23:59"
    }

  ]


},
/* Organization */
       { "@type": "Organization",

    "@id":"https://www.isconstatistics.com/#organization",
    "name": "ISCON Statistical Services",
    "legalName" : "ISCON Statistical Services LTD",
    "description": {{ with .Site.Params.description }}{{ . }}{{ end }},
	"address": {
		"@type": "PostalAddress",
		"addressCountry": "GB",
		"addressLocality": "Bristol",
		"addressRegion": "England",
		"postalCode": "BS32 8DB",
		"streetAddress": "184 Great Meadow Road"
	},
  "email": "admin@isconstatistics.com",
  "url": "https://www.isconstatistics.com/",
  "logo":{
            "@type":"ImageObject",
            "@id":"https://www.isconstatistics.com/#logo",
            "url": "https://www.isconstatistics.com/images/homepage/logo/logo.png",
            "caption":"ISCON Statistical Services"
         },
  "image":{
            "@id":"https://www.isconstatistics.com/#logo"
         },
  "contactPoint" : [
    { "@type" : "ContactPoint",
      "telephone" : "+447392339862",
      "contactType" : "customer service"

    }],
    "sameAs" : [
    "https://www.crunchbase.com/organization/statistician-online",
    "https://www.researchgate.net/profile/Statistician_Online",
    "https://goo.gl/maps/BQFvYboRthu",
    "https://binged.it/2Hf7YCg",
    "https://www.youtube.com/channel/UCYCcg0K66kRxvOSg4P8THnw",
    "https://www.facebook.com/statisticianonline/",
    "https://www.linkedin.com/in/statistician-online-308544180/",
    "https://twitter.com/Stat_online",
    "https://www.pinterest.co.uk/chetanprajapati0832/"
    ],
    "founder": {
		"@type": "Person",
		"@id":"https://www.isconstatistics.com/#author",
		"award": "John Henry Brookes",
		"jobTitle": "Statistician",
		"name": "Chetan Prajapati",
    "sameAs" : [
    "https://www.facebook.com/MadhavMedStats",
    "https://twitter.com/chetan_oxforduk",
    "https://www.instagram.com/chetanprap/",
    "https://www.youtube.com/channel/UCexPou_7nfzo192qRTVbtNQ/",
    "https://www.linkedin.com/in/statistical-evidence/",
    "https://www.crunchbase.com/person/chetan-prajapati",
    "http://www.bristol.ac.uk/clinical-sciences/people/chetan-a-prajapati/index.html" ]

     },
    "areaServed": {
    "@type": "GeoShape",
    "addressCountry": ["BE","BH","CA","CH","CY","DE","EE","ES","FI","FR","GR","IE","IT","KW","LU","LV","MT","NL","NZ","PT","SG","SI","SK","GB"]
  },
    "hasOfferCatalog": {
    "@type": "OfferCatalog",
    "name": "Statistical Consulting Service",
    "description": "Freelance Statistical consultant provides statistical data analysis service using statistical methods in STATA, SPSS,R and SAS",
    "itemListElement": [
      {
        "@type": "OfferCatalog",
        "name": "Data analysis",
        "itemListElement": [
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
               "additionalType": "http://www.productontology.org/id/Thesis",
             "name": "Dissertation Statistics Help"
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "additionalType": "http://www.productontology.org/id/Data_analysis",
              "name": "Business Statistics"
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
               "additionalType": "http://www.productontology.org/id/Epidemiology",
              "name": "Medical Statistics"
            }
          }
        ]
      },
      {
        "@type": "OfferCatalog",
        "name": "Biostatistics",
        "itemListElement": [
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "additionalType": "http://www.productontology.org/id/Biostatistics",
              "name": "Randomized controlled trial"
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "additionalType": "http://www.productontology.org/id/Bayesian_statistics",
              "name": "Bayesian Statistics"
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "additionalType": "http://www.productontology.org/id/Regression_analysis",
              "name": "Probability and statistics"
            }
          }
        ]
      }
    ]
  }
      },
/* WebSite */
       {
         "@type":"WebSite",
         "@id":"https://www.isconstatistics.com/#website",
         "url":"https://www.isconstatistics.com/",
         "potentialAction": {
            "@type": "SearchAction",
            "target": "https:www.isconstatistics.com/search/?s={search_term_string}",
          "query-input": "required name=search_term_string"
      },
         "name":"ISCON Statistical Services",
         "publisher":{
            "@id":"https://www.isconstatistics.com/#organization"
         },
         "about":{
            "@id":"https://www.isconstatistics.com/#local"}

      },
/* Webpage */
       {
  "@type":"WebPage",
  "@id":"{{ .Permalink }}#webpage",
  "url":"{{ .Permalink }}",
  "inLanguage":"en-US",
  "name": {{ .Title }},
  "speakable": {
      "@type": "SpeakableSpecification",
      "xpath": [
        "/html/head/title",
        "/html/head/meta[@name='description']/@content"
        ]
      },
  "isPartOf":
  {"@id": "https://www.isconstatistics.com/#website"},
  "image":
  {"@type":"ImageObject",
  "@id":"{{ .Permalink }}#primaryimage",
  "url": {{ if .Params.image }} {{.Params.image | absURL}} {{ else }} {{  .Site.Params.ogimage | absURL }} {{end}},
  "width": {{ if .Params.Width }} {{.Params.Width}} {{ else }} {{  .Site.Params.ogWidth }} {{end}},
  "height": {{ if .Params.Height }} {{.Params.Height}} {{ else }} {{  .Site.Params.ogHeight }} {{end}},
  "caption": {{ if .Params.alt }} {{.Params.alt}} {{ else }} {{  .Site.Params.ogAlt }} {{end}}

  },

  "primaryImageOfPage":
  {"@id":"{{ .Permalink }}#primaryimage"},
  {{ if not .PublishDate.IsZero -}}
  "datePublished": {{ .PublishDate.Format "2006-01-02T15:04:05-07:00" | safeHTML }},
  {{- else if not .Date.IsZero -}}
  "datePublished": {{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }},
  {{- end }}
  {{ with .Lastmod -}}
  "dateModified": {{ .Format "2006-01-02T15:04:05-07:00" | safeHTML }},
  {{- end }}
  "description": {{ .Description }}
},

/* article */
       {
"@type":"Article",
"@id":"{{ .Permalink }}#article",
"isPartOf":
{
"@id":"{{ .Permalink }}#webpage"},
"author":{"@id":"https://www.isconstatistics.com/#author",
"name":"Chetan Prajapati"},
"publisher":
{"@id":"https://www.isconstatistics.com/#organization"},
"headline": {{ .Title }},
{{ if not .PublishDate.IsZero -}}
  "datePublished": {{ .PublishDate.Format "2006-01-02T15:04:05-07:00" | safeHTML }},
  {{- else if not .Date.IsZero -}}
  "datePublished": {{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }},
  {{- end }}
  {{ with .Lastmod -}}
  "dateModified": {{ .Format "2006-01-02T15:04:05-07:00" | safeHTML }},
  {{- end }}
"mainEntityOfPage":"{{ .Permalink }}#webpage",
"image":
{"@id":"{{ .Permalink }}#primaryimage"},
{{ with .Params.tags -}}
  "keywords": "{{ delimit . ", " }}"
  {{- end }}
},
/* person */
       {"@type":"Person",
"@id":"https://www.isconstatistics.com/#author",
"name":"Chetan Prajapati",
"image":
{
  "@type":"ImageObject",
  "@id":"https://www.isconstatistics.com/#personlogo",
  "url":"https://www.isconstatistics.com/images/chetan.png",
  "caption":"Chetan Prajapati"},

  "description":"Chetan is Applied Statistician and sole proprietor of statistician-online.com. He enjoys writing about R programming and statistical modelling",

  "sameAs":[
    "https://www.facebook.com/MadhavMedStats",
    "https://twitter.com/chetan_oxforduk",
    "https://www.instagram.com/chetanprap/",
    "https://www.youtube.com/channel/UCexPou_7nfzo192qRTVbtNQ/",
    "https://www.linkedin.com/in/statistical-evidence/",
    "https://www.crunchbase.com/person/chetan-prajapati",
    "http://www.bristol.ac.uk/clinical-sciences/people/chetan-a-prajapati/index.html"

    ]},
/* bread */
{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ $.Scratch.Add "path" .Site.BaseURL }}

{{ $.Scratch.Add "breadcrumb" (slice (dict "url" .Site.BaseURL "name" "home" "position" 1 )) }}
{{ range $index, $element := split $url "/" }}
{{ $.Scratch.Add "path" $element }}
{{ $.Scratch.Add "path" "/" }}
{{ if ne $element "" }}
{{ $.Scratch.Add "breadcrumb" (slice (dict "url" ($.Scratch.Get "path") "name" . "position" (add $index 2))) }}
{{ end }}
{{ end }}
        {"@type": "BreadcrumbList",
          "itemListElement": [{{ range $.Scratch.Get "breadcrumb" }}{{ if ne .position 1 }},{{ end }}{
        "@type": "ListItem",
        "position": {{ .position }},
        "item": {
          "@id": "{{ .url }}",
          "name": "{{ .name }}"
        }
    }{{ end }}]}


]

}
</script>


{{- end }}
