{{ "<!-- search -->" | safeHTML }}
<form class="form-inline position-relative mb-3" action="{{ .Site.BaseURL }}/search">
    <div class="input-group w-100">
        <input type="search" class="form-control" placeholder="Search " id="search-query" name="s">
        <div class="input-group-append">
          <button class="search-icon btn btn-sm btn-secondary" type="submit">
            <i class="ti-search text-white"></i>
          </button>
        </div>
      </div>
      <div class="clearfix"></div>
<!-- 
    <input class="form-control px-0 w-100" type="search" placeholder="Search" id="search-query" name="s">
    <button class="search-icon" type="submit"><i class="ti-search text-dark"></i></button> -->
</form>