
{{ "<!-- cta -->" | safeHTML }}
<section class="cta  py-50 text-center" style="background: #656565;">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6 offset-3">
                <h3 class="text-white d-inline">Learn more about</h3> 
                <div class="dropdown d-inline ml-4">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Service
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {{ range .Site.Menus.nav }}
                         {{ if .HasChildren }}
                            {{ range .Children }}
                            {{ $ser := lower  .Name }}
                                <a class="dropdown-item" href="#{{replace  $ser " " "-"}}">{{.Name}}</a>               
                            {{end}}
                        {{ end }}
                        {{end}}
                    </div>
                  </div>
           
        </div>
    </div>
</section>
{{ "<!-- /cta -->" | safeHTML }}
