{{ "<!-- service single -->" | safeHTML }}
<section class="section service-detail">
    <div class="container">
        <div class="row">
          
            {{ "<!-- service single content -->" | safeHTML }}
            <div class="col-lg-12">
                <h1 class="font-weight-bold">{{ .Title }}</h1>
                <img class="img-fluid w-100 mb-60 rounded-top" src="{{ .Params.Image | absURL }}" alt="service">
                <div class="post-content">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- /service single -->" | safeHTML }}