{{ "<!-- service single -->" | safeHTML }}
<div class="section service-detail">
    <div class="container">
        <div class="row">
<img class="lazyload img rounded-top" data-src="{{ .Params.image | absURL }}" alt="{{ .Params.Alt}}">
            {{ "<!-- service single content -->" | safeHTML }}
            <div class="col-lg-12">
                <div class="post-content">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ "<!-- /service single -->" | safeHTML }}
<section>
{{ partial "cta.html" . }}
</section>
</article>
