{{ $data := index .Site.Data }}
{{ if $data.testimonial.enable }}
{{ "<!-- testimonial -->" | safeHTML }}
<section class="section ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
               {{ with $data.testimonial.titleSM }} <h5 class="section-title-sm">{{ . }}</h5> {{ end }}
               {{ with $data.testimonial.title }} <h2 class="section-title section-title-border"> {{ . }} </h2> {{ end }}
            </div>
        </div>
            <!-- <div class="col-lg-5 col-md-5 pr-0 align-self-center">
                <img class="img-fluid w-100" src="{{ $data.testimonial.image | absURL }}" alt="clients-image">
            </div> -->
                <div class="row testimonial-slider p-5">
                    {{ "<!-- slider item -->" | safeHTML }}
                    {{ range $data.testimonial.sliderItem }}                    
                    <div class="col-lg-4 col-md-4 text-center  m-3 p-3 testimonial">
                        {{if .image }}
                        <div class="img-box mb-3"><img src="{{ .image }}" alt="{{ .name }}" class="img-fluid border-round"></div>
                        {{else}}
                        <i class="testimonial-icon  ti-quote-left"></i>
                        {{end}}
                        <p class="text-dark">{{ .content }}</p>
                        <h4 class="font-weight-normal">{{ .name }}</h4>
                        <h6 class="font-secondary text-color">{{ .designation }}</h6>

                        <div class="star-rating">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                    {{ end }}
                </div>
        
    </div>
</section>
{{ "<!-- /testimonial -->" | safeHTML }}
{{ end }}