{{ $data := index .Site.Data }} {{ if $data.testimonial.enable }} {{ "<!-- testimonial -->" | safeHTML }}
<div class="section py-50 bg4">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				{{ with $data.testimonial.title }}
				<h2 class="section-title section-title-border">{{ . }}</h2>{{ end }}
				<p>To deliver exceptional services to our clients, we offer state-of-the-art statistical solutions using advanced technology and techniques.</p>
			</div>
		</div>
		<div class="row testimonial-slider">
			{{ "<!-- slider item -->" | safeHTML }} {{ range $data.testimonial.sliderItem }}
			<div class="col-lg-4 col-md-4 text-center m-3 p-3 testimonial">
				
				{{if .image }}
				<div class="img-box mb-3"><img alt="{{ .name }}" class="img-fluid border-round" src="{{.image}}"></div>{{else}} 
				<span class="testimonial-icon icon round-icon font-weight-bold font-lg">  {{ $firstChar := substr .firstName 0 1 | upper }} {{ $lastChar := substr .lastName 0 1 | upper }} {{$firstChar}} {{$lastChar}}</span> {{end}}

				<p class="text-dark">{{ .content }}</p>
				<h3 class="font-weight-normal">{{ .firstName }} {{ .lastName }}</h3>
				<h4 class="font-secondary text-color">{{ .designation }}</h4>
				<div class="star-rating">
					<ul class="list-inline">
						<li class="list-inline-item"><i class="fa fa-star"></i></li>
						<li class="list-inline-item"><i class="fa fa-star"></i></li>
						<li class="list-inline-item"><i class="fa fa-star"></i></li>
						<li class="list-inline-item"><i class="fa fa-star"></i></li>
						<li class="list-inline-item"><i class="fa fa-star"></i></li>
					</ul>
				</div>
			</div>{{ end }}
		</div>
	</div>
</div>{{ "<!-- /testimonial -->" | safeHTML }} {{ end }}