{{ $data := index .Site.Data }}
{{ if $data.whyus.enable }}
{{ "<!-- testimonial -->" | safeHTML }}
  <!--=== why choose us ===-->
  <section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                {{ with $data.whyus.titleSM }} <h5 class="section-title-sm">{{ . }}</h5> {{ end }}
                {{ with $data.whyus.title }} <h2 class="section-title section-title-border"> {{ . }} </h2> {{ end }}

                {{ with $data.whyus.desc }}<p class="mb-5">{{ . }}</p> {{end}}
            </div>
        </div>

      <div class="row mt-50">
        {{ "<!-- slider item -->" | safeHTML }}
        {{ range $data.whyus.item }}
        <div class="col-md-4 feature-box text-left mb-50 col-sm-6">
          <div class="float-left"><i class="{{.icon}} -beaker "></i></div>
          <div class="float-right">
            <h4 class="mt-0 font-600">{{.heading}}</h4>
            <p class="font-400">{{.content}}</p>
          </div>
        </div>
        {{end}}
      </div>
    </div>
  </section>
  <!--===why choose us  End ===-->
  {{end}}