{{ define "main" }}

{{ "<!-- 404 page -->" | safeHTML }}
<section class="page-404" style="background-image: url('{{ `images/404-page.jpg` | absURL }}');">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4 class="text-white mb-40">The Page You Are Searching For Does Not Exists.</h4>
                <a href="{{ .Site.BaseURL }}" class="btn btn-primary"> <i class="ti-angle-double-left"></i> Back To Homepage</a>
            </div>
        </div>
    </div>
</section>
{{ "<!-- /404 page -->" | safeHTML }}

{{ end }}
