{{ define "main" }}

<section>
    <div class="position-relative hero-section bg4">
        {{ "<!-- slider item -->" | safeHTML }}       
        <div class="py-50">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="text-uppercase mb-1 ">We are ISCON Statistics,</h4>
                        <h1 class="font-weight-bold mb-3">UK based, specialist statistical consulting service.</h1>
                        <p>Realise true potential of your data through comprehensive statistical analysis 
                            from qualified and experienced, UK based statisticians
                            </p>
                            <ul class="d-inline-block pl-0 mb-2">                            
                                <li class="font-secondary mb-10 ">                                   
                                     <i class="text-primary mr-2 ti-arrow-circle-right"></i>Lorem ipsum dolor sit amet</li>
                                
                                <li class="font-secondary mb-10">
                                    <i class="text-primary mr-2 ti-arrow-circle-right"></i>consectetur adipisicing elit</li>
                                
                                <li class="font-secondary mb-10 ">
                                    <i class="text-primary mr-2 ti-arrow-circle-right"></i>sed eiusmod tempor incididunt laboris</li>
                                <li class="font-secondary mb-10 ">
                                        <i class="text-primary mr-2 ti-arrow-circle-right"></i>nisi ut aliquip ex ea commodo consequat</li>
                                
                            </ul>
                            <div>
                                <a class="btn btn-outline btn-sm2 text-uppercase" href="#">View our work</a>
                                <a class="btn btn-secondary btn-sm2" href="#">Book free consutation</a>
                            </div>
                            
                    </div>
                    <div class="col-md-6">
                        <div class="hero-img-slider post-slider">
                            <img src="/images/about/about-1.jpg" alt="hgero">
                            <img src="/images/about/about-2.jpg" alt="hgero">
                            <img src="/images/about/about-3.jpg" alt="hgero">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{{ partial "explore.html" . }}
{{ partial "chooseus.html" . }}
{{ partial "service-home.html" . }}
{{ partial "helpful-services.html" . }}

{{ "<!-- work -->" | safeHTML }}
<section class="section bg1 py-50">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h5 class="section-title-sm">Our Works</h5>
                <h2 class="section-title section-title-border-gray">Case Studies </h2>
            </div>
        </div>
        {{ "<!-- work slider -->" | safeHTML }}
        <div class="row work-slider">
            {{ range $index, $element:= where .Site.RegularPages "Type" "case"}}
            {{ "<!-- project item -->" | safeHTML }}
            <div class="col-lg-3 col-md-4 col-sm-6 case">
                <div class="position-relative">
                    
                    <img class="img-fluid w-100" src="{{ .Params.Image | absURL }}" alt="project-image">
                    <div class="project-info">
                        <a href="{{ .Permalink }}" class="h4">{{ .Title }}</a>
                        {{ $ser := lower  .Params.Tag }}
                        <a href="service/{{replace  $ser " " "-"}}"><i class="ti-tag"></i>{{ .Params.Tag }}</a>
                    </div> 
                    
                </div>
               
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ "<!-- /work -->" | safeHTML }}

{{ partial "clientsLogoSlider.html" . }}
{{ partial "cta.html" . }}
{{ partial "testimonial.html" . }}
{{ partial "mission.html" . }}






{{ end }}