{{ define "main" }}

<section>
    <div class="position-relative hero-section bg4">
        {{ "<!-- slider item -->" | safeHTML }}       
        <div class="py-50">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="text-uppercase mb-1 ">We are ISCON Statistics</h4>
                        <!-- <h1 class="font-weight-bold mb-3">We help researchers, businesses, organisations to harness  
                            true value of their data by solving their critical research and business 
                            problems through comprehensive statistical modelling and visualisation.
                            </h1> -->
                        <p class="font-weight-bold mt-3">We help researchers, businesses, organisations to harness  
                            true value of their data by solving their critical research and business 
                            problems through comprehensive statistical modelling and visualisation
                            </p>
                        <p class="mt-3">Learn how we have helped clients from diverse sectors 
                            to gain deeper insight and drawing precise conclusions from their data
                            through sophisticated statistical analysis
                            
                            </p>
                            <div class="mt-3">
                                <a class="btn btn-outline btn-sm2 text-uppercase" href="#">View our work</a>
                                <a class="btn btn-secondary btn-sm2" href="#">Book free consutation</a>
                            </div>
                            
                    </div>
                    <div class="col-md-6">
                        <div class="hero-img-slider post-slider">
                            <img src="/images/hero-images/1.png" alt="hgero">                            
                            <img src="/images/hero-images/2.png" alt="hgero">
                            <img src="/images/hero-images/3.png" alt="hgero">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{{ partial "explore.html" . }}
{{ partial "chooseus.html" . }}
{{ partial "service-home.html" . }}
{{ partial "helpful-services.html" . }}

{{ "<!-- work -->" | safeHTML }}
<section class="section bg1 py-50">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h5 class="section-title-sm">Our Works</h5>
                <h2 class="section-title section-title-border-gray">Case Studies </h2>
            </div>
        </div>
        {{ "<!-- work slider -->" | safeHTML }}
        <div class="row work-slider">
            {{ range $index, $element:= where .Site.RegularPages "Type" "case"}}
            {{ "<!-- project item -->" | safeHTML }}
            <div class="col-lg-3 col-md-4 col-sm-6 case">
                <div class="position-relative">
                    
                    <img class="img-fluid w-100" src="{{ .Params.Image | absURL }}" alt="project-image">
                    <div class="project-info">
                        <a href="{{ .Permalink }}" class="h4">{{ .Title }}</a>
                        {{ $ser := lower  .Params.Tag }}
                        <a href="service/{{replace  $ser " " "-"}}"><i class="ti-tag"></i>{{ .Params.Tag }}</a>
                    </div> 
                    
                </div>
               
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ "<!-- /work -->" | safeHTML }}

{{ partial "clientsLogoSlider.html" . }}
{{ partial "cta.html" . }}
{{ partial "testimonial.html" . }}
{{ partial "mission.html" . }}






{{ end }}