{{ define "main" }}

{{ partial "gmap.html" . }}

<section class="bg-gray p-5" style="margin-top:-5px">
    <div class="container">
        <div class="col-12">
           <h1>Book your introductory meeting with our statistician (free)</h1> 
           <h2>In your first, one-to-one meeting, our statistician</h2>
           <ul>
               <li>
                Learns more about you, your data and your statistical needs
               </li>
               <li>
                Present you with range of statistical approaches that suits your data and your objectives. Discuss the best methods for obtaining, analysing and presenting your data
               </li>
               <li>
                Give you a realistic estimate of the time to complete the deliverables.
               </li>
           </ul>

        </div>
    </div>
</section>

{{ partial "contact.html" . }}


{{ end }}